---
import Layout from '../layouts/BlogPost.astro';

const LINK_CLASS = `text-pastel-black underline duration-300 hover:opacity-60 hover:decoration-dashed`
const LIST_CLASS = `py-2`
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('June 02, 2023')}
	updatedDate={new Date('August 10, 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		This is a website that used to show my memory w/ my lover. Just watch and enjoy it :) (if u don't have one and want to say something bad about me.. just go fucked urself)
	</p>

	<br>

	<div class="w-[80%] mx-auto">
		<h2 class="text-3xl font-semibold py-2 text-center">
			Links
		</h2>
		<ul class="w-[80%] md:w-[50%] mx-auto list-disc">
			<li class={LIST_CLASS}>
				<a href="https://github.com/dethMastery/ourTime" target="_blank" class={LINK_CLASS}>
					Repository
				</a>
			</li>
			<li class={LIST_CLASS}>
				<a href="https://suphakit.net/contact" target="_blank" class={LINK_CLASS}>
					Contact
				</a>
			</li>
		</ul>
	</div>

	<br />

	<p class="text-right">
		made w/ 💕 <a href="https://suphakit.net" target="_blank" class="underline duration-300 hover:opacity-60 hover:decoration-dashed">Suphakit P.</a>
	</p>
</Layout>
