---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		This is a website that used to show my memory w/ my lover. Just watch and enjoy it :) (if u don't have one and want to say something bad about me.. just go fucked urself)
	</p>

	<br />

	<p class="text-right">
		made w/ 💕 <a href="https://suphakit.net" target="_blank" class="underline duration-300 hover:opacity-60 hover:decoration-dashed">Suphakit P.</a>
	</p>
</Layout>
