---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex flex-row w-full bg-pastel-black text-whitesmoke">
	<div class="w-full p-4">
		{SITE_TITLE}
	</div>
	<div class="w-full justify-end text-right flex flex-row">
		<HeaderLink href="/" class="p-4 block duration-300 hover:opacity-60">Home</HeaderLink>
		<HeaderLink href="/maimai" class="p-4 block duration-300 hover:opacity-60">MaiMai Pics</HeaderLink>
		<HeaderLink href="/about" class="p-4 block duration-300 hover:opacity-60">About</HeaderLink>
	</div>
</header>
